* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(34, 34, 34);
    color: rgb(224, 224, 224);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.index-container{
    margin: 10px;
    padding: 10px;
}

h1, 
h2, 
h3,
ol,
ul,
li,
p {
    margin: 25px;
}


